[Unit]
Description=YoV Webapp API
After=network.target

[Service]
User=veus
Restart=on-failure
WorkingDirectory=/elara/harpo/veus/PAE-YOV/TTS/api
ExecStart=/elara/harpo/veus/PAE-YOV/.yov-venv/bin/uvicorn main:app

[Install]
WantedBy=multi-user.target
