html,
body,
#root {
  height: 100%;
}

.container {
  padding: 1rem;
  color: white;
  background-image: linear-gradient(
    89.8deg,
    rgb(74, 8, 8) 4.7%,
    rgba(30, 29, 29, 1) 78.3%
  );
  height: 100%;
  display: grid;
}
  

  
  .title {
    font-size: 35px;
    color:rgb(216, 95, 8);
    position: absolute;
    left: 35%;
    right: 35%;
    top:12%;
    
  }
  
  .subtitle1{
    font-size: 20px;
    color:rgb(216, 95, 8);
    position: absolute;
    left: 10%;
    top:24%;
    text-align: center;

  }

  .text1 {
    color:white;
    font-size: 16px;
    position: absolute;
    left:10%;
    right: 10%;
    top:26%;
   text-align: center;
   line-height: 25px;
  }

  .subtitle2{
    font-size: 20px;
    color:rgb(216, 95, 8);
    position: absolute;
    left: 10%;
    top:70%;
    text-align: center;

  }

  .text2 {
    color:white;
    font-size: 16px;
    position: absolute;
    left:10%;
    right: 10%;
    top:72%;
    text-align: center;
    line-height: 25px;

  }
  
 
